* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

body {
    font-size: 18px;
}

button {
    font: inherit;
}

@media (min-width: 500px) {
    .page {
        height: 100vh;
        overflow: hidden;
        display: flex;
    }
}
div[v-cloak] {
    display: none;
}



.page > aside {
    width: 200px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-shrink: 0;
}

.page > aside > .upper {
    display: flex;
    flex-direction: column;
}

.page > aside .action > li {
    margin: 20px;
}
.page > aside > .down {
    padding: 20px 0;
}

.page > main {
    flex-grow: 1;
    overflow: auto;
}

.skils > ul > li {
    position: relative;
}
.skils > ul > li .remove {
    position: absolute;
    top: 0;
    right: 0;
}

.button {
    padding: 3px 10px;
}
